<div class="row">
  <div class="col-xs-12">
    <form #formCtrl="ngForm" (submit)="onAddItem(formCtrl)">
      <div class="row">
        <div class="col-xs-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            required
            [(ngModel)]="ingredient.name"
            #nameInput>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            name="amount"
            class="form-control"
            min="0"
            step="1"
            required
            appNumbersOnly
            [(ngModel)]="ingredient.amount"
            #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!ingredient.name || !ingredient.amount || 1 > ingredient.amount"
            >Add
            </button>
            <button class="btn btn-danger" type="button">Delete</button>
            <button class="btn btn-primary" type="button">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
